body {
  box-sizing: border-box;
}

.icon .anticon {
  color: #6449e7;
}

.detailIcon .anticon {
  color: gray;
}

.rateIcon .anticon {
  color: #FFC600
}

.active {
  color: #6449e7;
  border-bottom: 1px solid #6449e7;
}

.notActive {
  border-bottom: none;
}

.browsBtn {
  width: 120px;
  height: 40px;
  line-height: 40px;
}

.browsBtn :hover {
  color: #6449e7
}