* {
  box-sizing: border-box;
}

.rated-section {
  width: 100%;
  height: 450px;
  margin: 20px 0 30px 0;
  background-color: #000000;
  position: relative;
}

.ant-carousel .slick-prev {
  position: absolute;
  top: 50%;
  z-index: 1;
  left: 5px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px !important;
}

.ant-carousel .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
  right: 40px;
}

.rated-image {
  height: 100%;
  width: 100%;
  opacity: 0.8;
}

.rated-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 3.9%;
  bottom: 19%;
  color: black;
  position: absolute;
}

.rated-right-icon.anticon svg {
  font-size: 40px;
  color: white;
  margin-left: 47rem;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.05);
}

.rated-left-icon.anticon svg {
  font-size: 40px;
  color: white;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.05);
}

.title_icon .anticon {
  color: #6449e7;
}

.detailIcon .anticon {
  color: gray;
}

.rateIcon .anticon {
  color: #ffc600;
}

@media only screen and (max-width: 768px) {
  .title {
    padding-left: 0 !important;
    font-size: 16px !important;
  }
  .title_icon {
    padding-left: 0 !important;
    font-size: 14px !important;
  }
  .detail-card {
    width: 253px !important;
  }
  .rated-right-icon.anticon svg {
    margin-left: 0;
  }
  .rated-detail {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.container-image .ant-carousel .slick-dots li button {
  display: none;
}

.icons {
  position: absolute;
  top: 50%;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 50%;
  z-index: 10;
}

.right-icons {
  right: 20px;
}

.left-icons {
  left: 20px;
}
